@import 'tailwindcss';

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  font-family: 'aui-monospace', SFMono-Regular, 'SF Mono', Menlo, Consolas, 'Liberation Mono', monospace;
}

body{
  margin: 0;
    background-color: #222222;
    color: aliceblue;
}