@import 'tailwindcss';

* {
  box-sizing: border-box;
  font-family: 'aui-monospace', SFMono-Regular, 'SF Mono', Menlo, Consolas, 'Liberation Mono', monospace;
}

body{
    background-color: #222222;
    color: aliceblue;
}